[MAIN]
jobs = 0
ignore = CVS
py-version = 3.10

[FORMAT]
max-line-length = 100

[MESSAGES CONTROL]
disable =
    missing-module-docstring,
    too-few-public-methods

[DESIGN]
max-args = 7

[BASIC]
good-names = i, j, k, ex, _, fd